<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hickory</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src = "main.js"></script>
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
<!--Header-->
<header class = "navbar-expand-md navbar-light sticky-top container-fluid">
    <div class = "container-fluid">
        <table>
            <tr>
                <td>
                    <a class = "navbar-brand" href = "index.html" id = "brand">Brand</a>
                    <a href = "#" id = "settings">Settings</a>
                    <a href = "#" id = "hikes">Hikes</a>
                    <div class="form-group has-search" id = "search-engine">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" id = "search-engine-input" placeholder="Search">
                    </div>
                </td>
            </tr>
        </table>     
    </div>
</header>
<div class="form-group has-search" id = "search-engine-mobile">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" id = "search-engine-input-mobile" placeholder="Search">
</div>
<!--Route-->
<section>
    <img src="../static/Images/Musala.jpg" id="routePhoto">
    <h1 id="title1">От Боровец до Мусала</h1>
    <p>
        
    <ul id="distance">
        <li><img src="../static/Images/routen.png" id="distancePhoto"></li>
        <li id="difficultyNum">0</li>
        <li><img src="../static/Images/law.png" id="difficultyPhoto"></li>
        <li id="distanceNum">0</li>
    </ul>
    </p>
    <div>
        <pre id="routeInfo"> 
             Има няколко маршрута за изкачване на връх Мусала, но ние избрахме най-популярния – през
            хижа Мусала и заслона Леденото езеро.
            Този маршрут се разделя обикновено на 4 етапа, започвайки от курорта Боровец:
            етап 1: изкачване с лифта от Боровец до хижа Ястребец;
            етап 2: пешеходен преход от Ястребец до хижа Мусала;
            етап 3: пешеходен преход от хижа Мусала до заслона Леденото езеро;
            етап 4: изкачване от заслона Леденото езеро до върха.
            Придвижването с лифта от Боровец до хижа Ястрбец отне приблизително 25 минути.
            Следваше преход до хижа Мусала по широк и сравнително равен път, който ни отне
            около 50 минути. Някъде прочетох, че този преход е три километра, но за
            съжаление не се сетих лично да го измеря. За един час от хижа Ястребец до хижа
            Мусала можеш да видиш доста неща от типичния рилски пейзаж. В този район са и
            ски-писти Маркуджиците и съоръженията покрай тях. На хижа Мусала направихме 15
            минутна почивка край тамошното езеро – това е Долното Мусаленско езеро от
            групата на Мусаленските езера.
        </pre>
    </div>
    <div id="awards">
        
        <ul id="stamps">
            <li><h1>Awards:</h1></li>
            <li><img src="../static/Images/stamp.png" id="stampAward"></li>
            <li><img src="../static/Images/stamp.png" id="stampAward"></li>
            <li><img src="../static/Images/stamp.png" id="stampAward"></li>
        </ul>
    </div>
    <div id="space"></div>
</section>
<!--Footer-->
<footer class="container-fluid fixed-bottom" id="footer">
    <div class="fixed-bottom" id="Stats">
        <ul id="coins" class="fixed-bottom">
            <li><img src="../static/Images/coins.png" id="ownedCoins"></li>
            <li id="coinAmmount">0</li>
        </ul>
        <p id="kilometers">0km</p>
    </div>

    <div class="fixed-bottom" id="avatar">
        <a  href="index.html"><img src="../static/Images/world.png" id="avatarImg"></a>
    </div>

    <div class="fixed-bottom" id="todoStats">
        <ul id="coinstoEarn" class="fixed-bottom">
            <li>+<img src="../static/Images/coins.png" id="ownedCoins"></li>
            <li>0</li>
        </ul>
        <p id="kilometersLeft">0km left</p>
    </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDZSSn0o60aj1fzwtOAkY1Jjpr2YlXSOTY&callback=initMap" async defer></script>
<script src="https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood&key=AIzaSyDZSSn0o60aj1fzwtOAkY1Jjpr2YlXSOTY" async defer></script>
<script type="text/javascript" src="../static/map.js"></script>
</body>

</html>